name: test_ef_ph (Pyomo released)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

defaults:
    run:
        shell: bash -l {0}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: test_env
          python-version: 3.7 
          auto-activate-base: false
      - name: Install dependencies
        run: |
          conda install mpi4py pandas setuptools
          pip install pyomo sphinx sphinx_rtd_theme xpress cplex

      - name: setup the program
        run: |
          python setup.py develop

      - name: Test EF/PH
        run: |
          python mpisppy/tests/test_ef_ph.py

      - name: Test afew
        run: |
          cd examples
          python afew.py xpress_persistent 

      - name: Test docs
        run: |
          cd ./doc/src/
          make doctest
