# Pyomo tracker --- dynamically imports pyomo main

name: pyo tracker

on:
  schedule:
    # min hr dayofmonth month dayofweek
    - cron: "14 3 * * *"

defaults:
    run:
        shell: bash -l {0}

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        pyomo-version: [6.9.5, main]
    steps:
      - uses: actions/checkout@v6
      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: test_env
          python-version: 3.11
          auto-activate: false
      - name: Install dependencies
        run: |
          conda install mpi4py pandas setuptools git
          pip install sphinx sphinx_rtd_theme sphinx-copybutton cplex
          pip install xpress
          pip install matplotlib

      - name: setup pyomo
        run: |
          pip install git+https://github.com/Pyomo/pyomo.git@${{ matrix.pyomo-version }}

      - name: setup the program
        run: |
          pip install -e .

      - name: Test EF/PH
        run: |
          python mpisppy/tests/test_ef_ph.py

      - name: Test afew
        run: |
          cd examples
          python afew.py xpress_persistent

      - name: Test docs
        run: |
          cd ./doc/
          make doctest
