# weekly tests, but we might run daily
# NOTE: we should also have a weekly test that dynamically imports pyomo master

name: weekly mpi-sppy tests

on:
  schedule:
    # min hr dayofmonth month dayofweek 
    - cron: "14 2 * * 1"

jobs:
  build:

    runs-on: ubuntu-latest
    container:
        image: dlwoodruff/mpisppyweekly:latest
        env:
          PATH: /opt/conda/bin:/opt/conda/condabin:/opt/conda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin


    steps:
      - uses: actions/checkout@v2
      - name: setup the program
        run: |
          python setup.py develop

      - name: run tests
        timeout-minutes: 60
        run: |
          cd mpisppy/examples
          # envall does nothing
          python run_all.py xpress_persistent -envall nouc
